body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #333, #444);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

form {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    width: auto;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header img {
    width: 200px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    background: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

.question p {
    margin-top: 20px;
    font-weight: bold;
}

input[type="submit"] {
    background-color: #008000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #005700;
}
